@charset "utf-8";


*{ margin: 0;  padding: 0; }
.container img{width:100%; }


body{
	color:#666;
	font: 12px;
	line-height:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#5d6366;
	width:100%;
	-webkit-text-size-adjust: none;
	margin:0px auto;
}

#header{
	height:37px;
	width:100%;
	font-size:13px;
	_font-size:6px;
	background-repeat: repeat-x;
}

.menu_bar{
	float:right;
	height:37px;
	margin-right: 10px;
	
}
#content {
	background-color: #FFFFFF;
}
#footer{font-size:13px; _font-size:9px;}

.quick_link{
	/*background:url(../images/quick_link_bg.png) repeat-x; */
	background-color:#FFFFFF;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	height:33px;
	width:100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.quick_link td {
	background:url(../images/quick_link_bg_01.png) right -1px no-repeat;
	text-align:center; 
	height:33px;
	
}
.no_bg{ background:none!important;}
.footer_cont {background: #f7f7f7; height:auto; _font-size:9px; width:100%;}

.footer_link { font-size:12px; _font-size:8px; color:#666; text-align:center; padding-top:10px; padding-bottom:20px;}
.footer_link a { color:#666;}


.DivText{ margin: 0.5rem; padding: 0.5rem 1rem; font-size: 0.8rem; line-height: 1.2rem;font-family:'Microsoft JhengHei','simhei','Arial','Helvetica','PMingLiU',"serif";}
.DivText p{  font-size: 0.8rem; line-height: 1.2rem;font-family:'Microsoft JhengHei','simhei','Arial','Helvetica','PMingLiU',"serif";}
.DivText h6{  color: #CC0001 }
.DivText ol{ margin: 0 0px 20px 0px; padding:0 0px 0 0px; }
.DivText ol li{ margin: 0 0px 0 20px; padding:0 0px 0 1px;  list-style-type: decimal; }

.TELDiv{ background: #CC0001; padding: 3px 8px; text-align: right;  color: #fff;  font-size:0.8rem; line-height: 1.2rem;font-family:'Microsoft JhengHei','simhei','Arial','Helvetica','PMingLiU',"serif"; }
.TELDiv a{color: #fff; text-decoration: none;  }
.TELDiv a:hover{color: #FFFF00;  }

.PlaceLine a{ color: #696969; text-decoration: none;}
.PlaceLine a:hover, .PlaceLine a:active{ color: #FF6347; text-decoration: none;}












.z{  }
