body{
	color:#666;
	line-height:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#5d6366;
	width:100%;
	-webkit-text-size-adjust: none;
	
	margin:0px auto;

}

/*basic*/
* { margin:0; padding:0;}
html,h1,h2,h3,h4,h5,h6,dl,form,fieldset,.hidden,p{margin:0;padding:0;}
ul, ol, li {margin:0; padding:0; list-style:none;}
.clear {clear:both;}
.fl{ float:left;}
.fr{ float:right;}
a img{ border:0;}
a{color:#000;text-decoration:none;}
a:hover{color:#000;text-decoration:none;}
.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl30{ padding-left:30px;}

.pb0 { padding-bottom:0px!important;}
.pb3 { padding-bottom:3px!important;}
.pb5 { padding-bottom:5px!important;}
.pb10{ padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pt2{padding-top:2px;}
.pt3{padding-top:3px;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px!important;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{ padding-top:20px;}
.mt2{ margin-top:2px;}
.mt3{ margin-top:3px;}
.mt5{ margin-top:5px;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mr0{ margin-right:0px!important;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}
.mr10{ margin-right:10px;} 
.mr20{ margin-right:20px;} 
.mcenter { margin:0 auto;}
.nobo{ border:none!important;}
.c333 { color:#333;}
.c666 { color:#666;}
.c999 { color:#999;}
.lh16 { line-height:16px;}
.lh18 { line-height:18px;}
.lh20 { line-height:20px;}
.hidden{ display:none;}
.no_bg{ background:none!important;}
.bor_01{ border-right:1px solid #ccc;}
.bor_02{ border-bottom:1px solid #dadada;}
.bor_03{ border-right:1px solid #dadada;}
.bor_04{ border-bottom:1px solid #fff;}
.bor_05{ border-left:1px solid #dadada;}

.w106{ width:106px!important;}
.f10{ _font-size:6px!important;}
.f12{ font-size:12px!important; _font-size:8px!important;}
.f13{ font-size:13px!important; _font-size:9px!important;}
.f15{ font-size:15px!important; _font-size:11px!important;}
.top_35{ top:35px!important;}
.h41{ height:41px;}
.po_r{ position:relative;}
.po_a{ position:absolute;}
.z100{ z-index:100;}
.l_11{ left:11px;}
.bg_fff{ background:#fff;}
.txt_01{ color:#D61101;}
/*---------------*/
.CFloat:after{
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
} 
.CFloat{
	display: inline-block;   
}
/* Hides from IE-mac \*/
*html .CFloat{height: 1%;}
.CFloat{display: block;}
/* End hide from IE-mac */
/*---------------*/

/*basic*/

/**header***/
#header{
	width:100%;
	font-size:13px;
	_font-size:6px;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}
#red_line {
	background-color: #be2520;
	height: 4px;
}
#home {
	margin-bottom: 6px;
	padding-top: 6px;
	margin-left: 10px;
}

#header .city { color:#fff;}
#header .city a{ 
	background:url(../images/arr_01.png) right 4px no-repeat; 
	padding-right:13px;
	color:#fff;
}
/**footer*/	 
#footer{font-size:13px; _font-size:9px;}
.quick_link{ 
	/*background:url(../images/quick_link_bg.png) repeat-x; */
	background-color:#FFFFFF;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	height:33px;
	line-height:33px;
	width:100%;
	margin:0 auto;
}
.quick_link td {
	background:url(../images/quick_link_bg_01.png) right -1px no-repeat;
	text-align:center; 
	height:33px;
	line-height:33px;
}

.footer_cont {background: #f7f7f7; height:auto; _font-size:9px; width:100%;}
.footer_cont ul{ margin-left:10px;}

.footer_cont .btn_on{
	background:url(../images/btn_on_01.gif) no-repeat;
	height:26px;
	text-align:center;
	line-height:26px;
	width:30px;
	border:none;
}
.footer_cont .btn_on a {color:#666;}
.footer_cont .btn_off{
	height:26px;
	text-align:center;
	line-height:26px;
	width:30px;
	border:none;
	
}

.footer_link { font-size:12px; _font-size:8px; color:#666; text-align:center; padding-top:10px; padding-bottom:20px;}
.footer_link a { color:#666;}


/*********/
.news_area{
	background: #f7f7f7 url(../images/bg_news_area_02.jpg) left top repeat-x;
	height:auto; 
	padding:5px 10px;
	border-top:1px solid #fff;
}
.news_area .tit{ color:#535353; font-size:15x; _font-size:11px; line-height:18px; font-weight:bold; position:relative; margin-bottom:5px;}
.cross_line{
	width:100%;
	height:auto;
	clear:both;
	background:url(../images/bg_cross_line.jpg) repeat-x;
	padding-top:5px;
	margin:5px 0;
	_margin-top:0px;
}
.sub-uni{
	clear:both;
	display:block;
	/*background:url(../images/bg_cross_line.jpg) top repeat-x;*/
	font-weight:normal;
	font-size:13px;
	_font-size:9px;
	color:#525252;
	float:left;
}
.subsub-uni{
	display:block;
	float:left;
	font-size:13px;
	_font-size:9px;
	font-weight:normal;
	color:#525252;
	background:url(../images/arrow_sub-uni.jpg) left 6px no-repeat;
	padding-left:10px;
	margin:0 0 5px 10px;
}
.noteMsg{
	font-size:13px;
	_font-size:9px !important;
	font-weight:normal;
	color:#666;
	margin:5px 0;
}
	.noteMsg a:link, .noteMsg a:visited{
		text-decoration:underline;
	}
	.noteMsg a:hover, .noteMsg a:active{
		text-decoration:none;
	}

.news_area_02{
	background: #f7f7f7 url(../images/bg_news_area_02.jpg) left top repeat-x;
	border-top:1px solid #ccc;
	height:auto;
	padding:5px 10px;
	margin-top:-2px;
	_margin-top:-5px;
}
.news_area_02 .tit{ color:#535353; font-size:15px; _font-size:11px; line-height:18px;font-weight:bold;position:relative;}
.banner_list_cont_area {	
		width:300px; 
		height:auto;
		overflow:hidden;
		position:relative;
	}
	.banner_list_cont_area li{width:280px; padding:0 10px;}
/*********/
.single_unit_area{
	background-color:#FFFFFF;
	margin-bottom:5px;
}
.single_unit_top {
	background: url(../images/single_unit_top.gif) repeat-x;
	height:3px;
	display:block;
}
.single_unit{
	background-color:#FFFFFF;
	border:1px solid #dadada;
	border-top:0px solid #dadada;
}
.unit_list{
	background: url(../images/single_unit_bg.jpg) bottom repeat-x;
}
.title { 
	padding-top:10px; 
	margin-left:10px; 
	margin-right:0px; 
	padding-bottom:10px;
	font-size:15px;
	_font-size:11px !important;
	line-height:20px;
	border-bottom:1px solid #dadada;
	cursor:pointer;
	color:#666;
}
	.title a{color:#666;}
.mid{
	padding-top:10px;
	padding-bottom:5px;
	display:none;
}
.mid ul{ margin-left:10px;}
.mid ul li{
	background:url(../images/point_03.gif) left 6px no-repeat;
	padding-left:12px;
	width:125px;
	display:block;
	padding-bottom:5px;
	float:left;
	line-height:20px;
}
.all_slide_area{ width:300px; overflow:hidden; position: relative; margin:10px auto 5px; }
.banner_area{ margin:5px 0 0;}
	.banner_area img{
		width:300px;
	}
.my_account{
	display:block;
	width:100%;
}
	.my_account li{
		padding:7px 10px;
		border-bottom:1px solid #DADADA;
		_font-size:9px!important;
	}
	.my_account li h4{
		display:inline;
		color:#000;
		margin-right:10px;
		_font-size:9px!important;
	}
	a.charge_on{
		display:block;
		width:70px;
		height:34px;
		background:url(../images/charge_on.jpg) no-repeat;
		font-size:0;
		text-indent:-99999px;
		float:right;
		margin-bottom:5px;
	}
.confirm_mess{
	background:#EEEEEE url(../images/bg_confirm-mess.jpg) 10px 10px no-repeat;
	border:1px solid #ccc;
	padding:7px 10px 10px 42px;
	line-height:22px;
	font-size:13px;
	_font-size:9px!important;
	font-weight:normal;
}

.clean_wrap{
	width:100%;
	height:auto;
	background-color:#fff;
	border-top:3px solid #ccc;
	padding-bottom:1px;
	margin-bottom:5px;
	clear:both;
}
	.content-box{
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
		*height:auto !important;  /*IE7*/
		*height:90px;  /*IE6*/
		min-height:90px;  /*FF*/
		clear:both;
	}
.sum{
	text-align:right;
	margin-bottom:5px;
}
.simple_table01{
	border-collapse:collapse;
}
	.simple_table01 th{
		background-color:#eee;
		border-bottom:1px solid #DADADA;
		padding:6px;
		font-weight:normal;
		color:#000;
	}
	.simple_table01 td{
		background-color:#fff;
		border-bottom:1px solid #DADADA;
		padding:6px;
	}
	.simple_table01 td span{
		display:block;
		font-size:12px;
	}
a.btn_cancel, a.btn_agree{
	display:block;
	width:40px;
	height:34px;
	font-size:0px;
	text-indent:-99999px;
}
	a.btn_cancel{
		background:url(../images/btn_cancel.jpg) no-repeat;
	}
	a.btn_agree{
		background:url(../images/btn_agree.jpg) no-repeat;
	}
/*---------------------------------------------------------------------------------------------------------------*/
.pages{
	height:33px;
	margin:10px 0 20px;
	text-align:center;
}
	.pages span{
		display:block;
		width:90px;
		height:33px;
		font-size:0;
		text-indent:-99999px;
	}
	span.btn_prev{
		background:url(../images/btn_prev_dis.jpg) no-repeat;
		float:left;
	}
		a span.btn_prev{
			background:url(../images/btn_prev.jpg) no-repeat;
		}
	span.btn_next{
		background:url(../images/btn_next_dis.jpg) no-repeat;
		float:right;
	}
		a span.btn_next{
			background:url(../images/btn_next.jpg) no-repeat;
		}
	.pages strong{
		font-weight:normal;
		color:#000;
	}

/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/
.search_area{
	background: #f7f7f7 url(../images/bg_news_area_02.jpg) left top repeat-x;
	border-top:1px solid #ccc;
	padding:5px 10px;
	_font-size:9px;
}
.search{}

.search_area .search_m {
	background:url(../images/search_bg_m.png) left top repeat-x;
	height:36px;
	line-height:36px;
	padding:0px 0 0 0px;
}
.search input{
	border:0px solid #fff;
	_font-size:10px;
	padding-top:10px;
	background:none;
}

.search .searchIcon {
	background:url(../images/arr_02.png) right 11px no-repeat;
	padding-right:15px;
	position:relative;
}
.hot_key{ padding:5px 0 5px 15px;}
/*---------------------------------------------------------------------------------------------------------------*/

/*
input[type=checkbox], input[type=radio] { -webkit-transform: scale(1.2,1.2); position: relative; top: 1px; }
*/
/*---------------------------------------------------------------------------------------------------------------*/
.menu_bar{
	float:right;
	height:37px;
	background:url(../images/bg_topLine.jpg) center top no-repeat;
}
	.menu_bar a{
		display:block;
		float:left;
		width:40px;
		height:20px;
		text-align:center;
		font-size:10px;
		_font-size:7px;
		color:#FFFFFF;
		letter-spacing:-1px;
		padding:17px 5px 0;
	}
		.menu_bar a:link, .menu_bar a:visited{color:#fff;}
		.menu_bar a:hover, .menu_bar a:active{color:#fff;}
	.menu_bar a.icon_login{
		background:url(../images/icon_login.jpg) center 5px no-repeat;
	}
	.menu_bar a.icon_logout{
		background:url(../images/icon_logout.jpg) center 5px no-repeat;
	}
	.menu_bar a.icon_menu{
		background:url(../images/icon_menu.jpg) center 5px no-repeat;
	}
	.menu_bar a.icon_home{
		background:url(../images/icon_home.jpg) center 5px no-repeat;
	}
/*---------------------------------------------------------------------------------------------------------------*/
.quick_link a{
	padding:0 0 0 17px;
}
	.quick_link a.footer01{
		background:url(../images/icon_footer01.jpg) left 3px no-repeat;
	}
	.quick_link a.footer02{
		background:url(../images/icon_footer02.jpg) left 3px no-repeat;
	}
	.quick_link a.footer03{
		background:url(../images/icon_footer03.jpg) left 3px no-repeat;
	}
/*---------------------------------------------------------------------------------------------------------------*/
.path{
	height:42px;
	background:#999;
	padding:7px 10px 0;
	_font-size:8px;
}
	.path ul{
		display:block;
		width:auto;
		height:36px;
	}
	.path ul li{
		display:block;
		background:url(../images/bg_pathbar.jpg) repeat-x;
		_width:85px;
		height:35px;
		float:left;
		padding-top:1px;
	}
	.path ul li a{
		display:block;
		height:33px;
		line-height:33px;
		padding:0 10px;
		background:url(../images/path_line.jpg) right top no-repeat;
	}








#content {
	background-color: #CEECFF;
}
